<div class="flex justify-center w-screen pb-5">
  <input
    placeholder="Añada detalles"
    class="w-8/12 mr-5"
    type="text"
    name=""
    id=""
    #data
  />
  <button
    class="button bg-blue-400 p-2"
    (click)="newData(data.value)"
    (click)="data.value = ''"
  >
    Añadir
  </button>
</div>
<div class="mx-auto flex w-9/12" *ngFor="let item of array1">
  <li class="flex py-2" *ngIf="item.status == false">
    <input
      type="checkbox"
      [checked]="item.status"
      (change)="item.status = !item.status"
    />
    <div class="px-3">{{ item.name }}</div>
  </li>
</div>
